* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.mike {
    background-color: #073E1E;
    width: 50%;
    min-width: 800pxpx;
    margin-left: auto;
    margin-right: 200px;
}

.color-1 {
    background-color: #073E1E;
    padding: 80px 0px;
}

#h4-1 {
    margin-left: 100px;
}

.will {
    background-color: #3A5FE5;
    width: 50%;
    min-width: 800px;
    margin-left: 500px;
    margin-right: auto;
}

.color-2 {
    background-color: #3A5FE5;
    padding: 80px 0px;
}


#h4-2 {
    margin-left: 100px;
}

.lucus {
    background-color: #FF1515;
    width: 50%;
    min-width: 800px;
    margin-left: 500px;
    margin-right: auto;
}

.color-3 {
    background-color: #FF1515;
    padding: 80px 0px;
}

#h4-3{
    margin-left: 100px;
}

