* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/hero1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
}

#hero-1 h1 {
    font-size: 120px;
    padding-left: 100px;
    position: absolute;
    bottom: 70%;
    left: 15%;
}

#hero-1 h3 {
    font-size: 62px;
    padding: 100px;
    position: absolute;
    bottom: 50%;
    left: 34%;
    top: 10%;
}

#hero-1 a {
    display: inline-block;
    background-color: cadetblue;
    color: whitesmoke;
    padding: 24px;
    border-radius: 20px;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    bottom: 55%;
    left: 43%;
}

#hero-1 a:hover {
    background-color: whitesmoke;
    color: cadetblue;
    transition: 
        background-color .5s;
        color: .5s;
}

#hero-2 {
    background-image: url("../images/hero2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#hero-2 h1 {
    font-size: 85px;
    padding-left: 100px;
    position: absolute;
    bottom: 75%;
}

#hero-2 h3 {
    font-size: 42px;
    padding: 100px;
    position: absolute;
    bottom: 50%;
    left: 25%;
    top: 10%;
}

#hero-2 a {
    display: inline-block;
    background-color: darkblue;
    color: whitesmoke;
    padding: 24px;
    border-radius: 20px;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    bottom: 60%;
    left: 49%;
}

#hero-2 a:hover {
    background-color: whitesmoke;
    color: darkblue;
    transition: 
        background-color .5s;
        color: .5s;
}

#hero-3 {
    background-image: url("../images/hero3.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#hero-3 h1 {
    color: blanchedalmond;
    font-size: 85px;
    padding-left: 100px;
    position: absolute;
    bottom: 75%;
}

#hero-3 h3 {
    color: antiquewhite;
    font-size: 42px;
    padding: 100px;
    position: absolute;
    bottom: 50%;
    left: 8%;
    top: 15%;
}

#hero-3 a {
    text-align: center;
    display: inline-block;
    background-color: darkred;
    color: antiquewhite;
    padding: 24px;
    border-radius: 20px;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    left: 15%;
    top: 150%;
}

#hero-3 a:hover {
    background-color: antiquewhite;
    color:darkred;
    transition: 
        background-color .5s;
        color: .5s;
}

