* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.donation-form-section {
    padding: 80px 10%;
    background: #ffffff;
}

.donation-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.donation-form input,
.donation-form select {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.donation-form button {
    border: none;
    cursor: pointer;
}

