* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: cursive;
    background: url("../images/background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

#navbar {
    background: linear-gradient(to bottom, #EBAE5E, #B0693F);
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top, #D2B48C, #E5D3B3);
    border-radius: 20px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #BABDBC;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #B99976;
}

#logo {
    border-radius: 20px;
}

#oscar img {
    width: 100%;
    padding: 25%;
    padding-top: 5%;
}

#joy img {
    width: 100%;
    padding: 25%;
    padding-top: 5%;
}

#primm img {
    width: 100%;
    padding: 25%;
    padding-top: 5%;
}

#oscar h1 {
    font-size: 34px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 15px;
    margin: 0px;
}

#oscar p {
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    margin: 0px;
}

.hero {
    background-image: url("../images/dog-8626730_1280.jpg");
    height: 140vh;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.hero h1 {
    font-size: 60px;
    position: absolute;
    left: 40%;
    bottom: 80%;
    background-color: white;
    padding: 10px;
}

.hero p {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    background-color: white;
    bottom: 60%;
}

@media screen and (max-width: 1132px) and (min-width: 800px) {
        
}